@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    transition: all 0.3s linear;
}

:root {
    --color-principal: #ad4149;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

span {
    color: var(--color-principal);
}

/* CTA */

.wpp {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.wpp i:hover {
    font-size: 45px;
}

.wpp i {
    color: green;
    font-size: 40px;
    transition: all 0.5s linear;
}

/* FIM DO CTA */

/* CONTATOS */

.contatos {
    width: 100%;
    height: 30px;
    background-color: var(--color-principal);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.whatsapp,
.email {
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 6px;
    font-size: 16px;
}

.whatsapp i,
.email i {
    height: 100%;
    font-size: 16px;
    line-height: 1;
    padding-top: 0px;
    height: auto;
}

/* FIM DO CONTATOS */

/* HEADER */

header {
    border-bottom: 2px solid #ccc;
    height: auto;
    z-index: 1000;
    background: #fff;
    position: fixed;
    width: 100%;
    top: 30px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    width: 150px;
}

header nav ul {
    display: flex;
}

header nav ul li a {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    font-size: 15px;
    transition: all linear 0.25s;
}

header nav ul li a:hover {
    color: var(--color-principal);
}

.menu,
.x {
    display: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
    padding: 2px;
}

.x {
    display: none;
}

.x i {
    font-size: 30px;
}

.menu.open i {
    transform: rotate(90deg);
    border: 2px solid var(--color-principal);
    display: flex;
}

.menu i,
.x i {
    font-size: 40px;
    color: var(--color-principal);
    transition: color 0.3s ease, background 0.3s ease;
    border-radius: 15px;
}

header button {
    background-color: var(--color-principal);
    height: 50px;
    width: 200px;
    border: none;
    border-radius: 15px;
    color: #fff;
    transition: all 0.3s linear;
}

header button:hover {
    background-color: #874145;
    height: 52px;
    width: 202px;
}


/* FIM DO HEADER */

/* MAIN */

main {
    padding-top: 180px;
}

main .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 15px;
}

main .acao h1 {
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 30px;
    text-align: start;
}

main .acao p {
    text-align: start;
    font-size: 20px;
    margin-bottom: 30px;
}

main .img--main {
    background-color: var(--color-principal);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

main .img--main img {
    width: 96%;
    height: 335px;
    border-radius: 20px;
}

main button {
    background-color: var(--color-principal);
    height: 50px;
    width: 300px;
    border: none;
    border-radius: 15px;
    color: #fff;
}

main button span {
    color: #fff;
}

main button:hover span {
    margin-left: 3px;
}

main button:hover {
    background-color: #874145;
    height: 52px;
    width: 302px;
}

/* FIM DO MAIN */

footer {
    height: 1000px;
}



/* RESPONSIVIDADE */

@media (min-width: 427px) and (max-width: 768px) {
    header .cta-header {
        display: none !important;
        visibility: hidden;
    }

    header>.container>button,
    header button {
        display: none !important;
        visibility: hidden;
    }

    header {
        padding: 0 20px;
    }

    header nav {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #fff;
        border-top: 2px solid #ccc;
        flex-direction: column;
        text-align: left;
        padding: 15px 10px;
        z-index: 999;
    }

    header button {
        display: none;
        margin: 15px 10px;
        width: 90%;
    }

    header button.active {
        display: block;
    }

    header nav.active {
        display: flex;
        animation: fadeIn 0.3s ease;
        border-bottom: 2px solid #ccc;
    }

    header nav ul {
        flex-direction: column;
        width: 100%;
    }

    header nav ul li a {
        padding: 10px 0;
        font-size: 18px;
        border-bottom: 1px solid #eee;
    }

    header .menu {
        display: block;
    }

    main .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    main .acao {
        margin: 0 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main .acao h1 {
        font-size: 45px;
        line-height: 45px;
        margin-bottom: 30px;
        text-align: center;
    }

    main .acao p {
        text-align: center;
        font-size: 20px;
        margin-bottom: 30px;
    }

    main button {
        text-align: center;
    }

    main .img--main {
        width: 95%;
        height: 400px;
        margin: 0 auto;
        margin-top: 20px;
        border-radius: 15px;
    }

    main .img--main img {
        width: 95%;
        height: 93%;
        border-radius: 15px;
    }

}

@media (min-width: 320px) and (max-width:426px) {
    .contatos {
        flex-direction: column;
        height: 45px;
    }

    header .cta-header,
    header>.container>button,
    header button {
        display: none !important;
        visibility: hidden;
    }

    header {
        padding: 0 20px;
        top: 45px;
    }

    header nav {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #fff;
        border-top: 2px solid #ccc;
        flex-direction: column;
        text-align: left;
        padding: 15px 10px;
        z-index: 999;
    }

    header button {
        display: none;
        margin: 15px 10px;
        width: 90%;
    }

    header button.active {
        display: block;
    }

    header nav.active {
        display: flex;
        animation: fadeIn 0.3s ease;
        border-bottom: 2px solid #ccc;
    }

    header nav ul {
        flex-direction: column;
        width: 100%;
    }

    header nav ul li a {
        padding: 10px 0;
        font-size: 18px;
        border-bottom: 1px solid #eee;
    }

    header .menu {
        display: flex;
    }

    main .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    main .acao {
        margin: 0 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main .acao h1 {
        font-size: 35px;
        line-height: 35px;
        margin-bottom: 15px;
        text-align: center;
    }

    main .acao p {
        text-align: center;
        font-size: 20px;
        margin-bottom: 15px;
    }

    main button {
        text-align: center;
    }

    main .img--main {
        width: 95%;
        margin: 0 auto;
        margin-top: 20px;
        border-radius: 15px;
    }

    main .img--main img {
        width: 95%;
        height: 93%;
        border-radius: 15px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* FIM DA RESPONSIVIDADE */